@media screen and (min-width: 1158px) {

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* Header */
  
  .header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    border-bottom: 1px solid var(--accent-color);
    padding-top: 0;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  /* Site nav */
  
  .site-nav {
    display: flex;
    align-items: center;
  }
  
  .item .link {
    position: relative;
  }
 
  
  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }
  
  .adress-nav .link {
    display: block;
  }

  .adress-nav .item {
    margin-bottom: 0;
  }
  
  .adress-nav .item:not(:last-child) {
    margin-right: 40px;
  }

  .adress-nav .item:not(:last-child) {
    margin-bottom: 0;
  }
  
  .adress-nav .address {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--animation-transition);
  }
  
  .list .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--animation-transition);
  }
  
  .list .link:hover,
  .list .link:focus {
    color: var(--cts-color);
  }
 
  .adress-nav .address {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--animation-transition);
  }
  
  .adress-nav .address:hover,
  .adress-nav .address:focus {
    color: var(--cts-color);
  }
  
  .address-items {
    margin-left: auto;
  }
.adress-nav {
  display: flex;
  font-style: normal;
  flex-direction: row;
  }

.adress-nav .link {
  display: block;
  }
  
.adress-nav .item:not(:last-child) {
  margin-right: 40px;
}

/* Hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/hero.jpg);
}

.adv-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud-color);
  border-radius: 4px;
  margin-bottom: 8px;
}
 
/* What are we doing */

.section.no-top-padding{
  display: flex;
}

.no-top-padding {
  padding-top: 0;
  padding-bottom: 120px;
}

/* Examples */

.examples.item {
  width: calc((100% - 48px) / 3);
}
.examples {
  display: flex;
  gap: 24px;
}

/* Advantages */

.list-advantages {
  display: flex;
  flex-wrap: nowrap;
}

.list-advantages .item {
  width: calc((100% - 72px) / 4);
}

.title-advantages {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}

.adv-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Our team */

.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}
.team-list .item {
    width: calc((100% - 72px) / 4);
}


/* Our customers */

.customers-list .item {
  width: calc((100% - 120px) / 6);
}

/* Footer */

.position-footer {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-logo-text {
  margin-right: 0;
  margin-bottom: 0;
}

.footer-media {
  margin-bottom: 0;
}

.footer-text {
  color: var(--cloud-color);
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
}

.footer-title {
   text-align: left;
}

.subscribe-container {
  align-items: flex-start;
  width: 100%;
  max-width: 453px;
}

/* Modal */

.modal {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /* min-height: 584px; */
  padding: 72px 24px;
  border-radius: 4px;
}

/* Portfolio */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: 360px;
  transition: box-shadow var(--animation-transition);
}

.portfolio-item > .link {
  display: block;
}


/* .portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */



}

@media screen and (min-width: 769px) {
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero.jpg');
  }


  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero@desktop2x.jpg');
    }
  }
}
