@media screen and (min-width: 1158px) {
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
      }

    /* .container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .adress-nav {
    display: flex;
    font-style: normal;
    flex-direction: row;
  }

  .adress-nav .link {
    display: block;
  }
  
  .adress-nav .item:not(:last-child) {
    margin-right: 40px;
}
 */

 
.list-advantages {
  display: flex;
  gap: 24px;
}

.list-advantages .item {
  width: calc((100% - 72px) / 4);
}

.customers-list .item {
  width: calc((100% - 120px) / 6);
}



}