.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--accent-color);
  padding-top: 24px;
  padding-bottom: 22px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-text {
  color: var(--title-text-color);
}

.container.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav {
  display: none;
}

.adress-nav {
  display: none;
}

.address-items {
  display: none;
}

.burger-menu {
  /* position: absolute;
  top:10%;
  left: 76%; */
  background-color: transparent;
  padding: 0;
  border: none;
}

.burger-icon {
  stroke: var(--title-text-color);
}

/* Hero */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  height: 432px;
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/hero@mobile1x.jpg);
}

.hero-title {
  display: block;
  text-align: center;
  max-width: 320px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;   
}


.hero-button {
  display: block;
  background: var(--iris);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--animation-transition), box-shadow var(--animation-transition)
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--cts-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* Advantages */

.adv-icons {
  display: none;
}

.list-advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
}

.list-advantages .item {
  height: calc((100% - 216px) / 4);
}

.title-advantages {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}

.text-advantages {
   color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section.no-top-padding{
  display: none;
}

/* Our team */

.team {
  background-color: var(--cloud-color);
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.team-list .item {
  background-color: var(--primary-white-color);
  height: calc((100% - 216px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-team {
  padding: 32px 16px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.text-team {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.link-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--rgba-iris);
  transition: background-color var(--animation-transition);
}

.list-icons {
  display: flex;
  gap: 24px;
}

.list-icons {
  width: calc((100% - 72px) / 4);
}

.list-icons.mobile {
  gap:56px;
}
.list-icons.mobile{
  width: calc((100% - 168px) / 4);
}

.team-icons .link-icons:hover,
.team-icons .link-icons:focus {
  background-color: var(--rgba-ocean);
}

.social-links {
  fill: var(--cloud-color);
}

/* Customers */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: var(--title-text-color);
  }

.customer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  padding: 16px 32px;
  border: 1px solid var(--rgba-light-slate);
  border-radius: 4px;
  color: var(--icon-fill-color);
  transition: border var(--animation-transition), color var(--animation-transition);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customer-icons {
  fill: currentColor;
  transition: fill var(--animation-transition);
}

.customer-icons:hover,
.customer-icons:focus {
  fill: var(--cts-color);
}

.customer-links:hover,
.customer-links:focus {
  border: 1px solid var(--rgba-ocean);
  color:var(--cts-color);
}

/* Footer */

.position-footer {
  padding: 0 16px;
}

.footer-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--title-text-color);
}

.logo-text-footer {
  color: var(--cloud-color);
}

.footer-logo-text> .logo {
  display: block;
  margin-bottom: 16px;
}

.footer-logo-text {
  text-align: center;
  margin-bottom: 72px;
}

.footer-text {
  color: var(--cloud-color);
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  margin-right: auto;
  margin-left: auto;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-media{
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}


.footer-icons .footer:hover,
.footer-icons .footer:focus {
  background-color: var(--rgba-green);
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.subscribe-input {
  border: 1px solid var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;
  outline: none;
  background-color: transparent;
  color:var(--primary-white-color);
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}
.subscribe-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 165px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  background-color:var(--iris);
  color: var(--primary-white-color);
  border-radius: 4px;
  padding: 8px 64px 8px 24px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--animation-transition), box-shadow var(--animation-transition) ;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--cts-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscr-icon {
  position: absolute;
  left: 75%;
  top: 20%
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(46, 47, 66, 0.7);
  transition: opacity var(--animation-transition), visibility var(--animation-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  max-width: 392px;
  width: 90%;
  height: 90%;
  background-color: var(--primary-white-color);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  transition: background-color var(--animation-transition);
  cursor: pointer;
}

.modal-icon {
  fill: rgba(46, 47, 66, 1);
  transition: fill var(--animation-transition);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--cts-color);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--primary-white-color);
}

.submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background-color:var(--iris);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color var(--animation-transition), box-shadow var(--animation-transition);
}
.submit-button:focus,
.submit-button:hover {
  background-color: var(--cts-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-label:not(:last-child) {
  margin-bottom: 18px;
}

.modal-text {
min-width: 360px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 16px;
}

.modal-form-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-fill-color);

}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-fill-color);
  margin-bottom: 24px;
}

.input-wrapper{
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 40px;
  outline: 1px solid transparent;
  transition: border-color var(--animation-transition);
}

.modal-form-input:focus,
.modal-form-input:hover,
.modal-form-comment:focus,
.modal-form-comment:hover {
  border-color: var(--iris);
}

.modal-form-comment {
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  padding: 8px 16px;
  transition: border-color var(--animation-transition);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-icons {
  position: absolute;
  top: 24%;
  left: 16px;
  fill: var(--title-text-color);
  transition: fill var(--animation-transition);
}

.modal-form-input:focus + .modal-form-icons,
.modal-form-input:hover + .modal-form-icons {
  fill: var(--iris);
  border: 1px solid transparent;
}
.terms-link {
  display: block;
  text-decoration: underline;
  color: var(--iris);
}

.mob-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 32px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
  overflow-y: scroll;
}

.mob-menu.is-open {  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 25px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  transition: background-color var(--animation-transition);
  cursor: pointer;
}

.mobile-button:hover,
.mobile-button:focus {
  background-color: var(--cts-color);
}

.mobile-button:hover .modal-icon,
.mobile-button:focus .modal-icon {
  fill: var(--primary-white-color);
}

.mobile-link,
.mobile-list .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-list .mail{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}

.mobile-link.current,
.mobile-list .current {
  color: var(--cts-color);
}

.mobile-list .item {
  margin-bottom: 40px;
}

.mobile-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-list .link{
  text-decoration: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: transparent;
  transition: border-color var(--animation-transition), color var(--animation-transition);
  cursor: pointer;
}

.checkbox-icon {
  fill: currentColor;
  transition: color var(--animation-transition);
}

.checkbox:checked + .checkbox-wrapper > .custom-checkbox {
  border-color: transparent;
  color: var(--cts-color);
}



  
@media screen and (min-width: 428px) {
  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/hero@mobile1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/hero@mobile2x.jpg);
  }
}