@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .sides-padding {
    margin-left: auto;
    margin-right: auto;
    padding-left: 108px;
    padding-right: 108px;
  }

  .header {
    padding-bottom: 0;
    padding-top: 0;
  }

  .logo-text {
    margin-right: 76px;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }

  .item .link {
    position: relative;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

letter-spacing: 0.04em;

  }
  
  .link-current::after {
    display: block;
    content:'';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--cts-color);
    border-radius: 2px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .item .link {
    position: relative;
  }

  .link-current::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--cts-color);
    border-radius: 2px;
  }

  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }

  .adress-nav {
    display: flex;
    flex-direction: column;
  }

  .address-items {
    margin-left: auto;
  }
  
  .address.link {
    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

  }

  .adress-nav .item:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .adress-nav .address:hover,
.adress-nav .address:focus {
  color: var(--cts-color);
}

  .adress-nav .link,
  .address-items {
    display: block;
  }

  
  
  .adress-nav .address:hover,
  .adress-nav .address:focus {
    color: var(--cts-color);
  }
  

  .site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--animation-transition);
  }

  .address-nav .item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-decoration: none;
      transition: color var(--animation-transition);
    
  }

  .list .link:hover,
.list .link:focus {
  color: var(--cts-color);
}

  .burger-icon {
    display: none;
  }

  /* Hero */

  .hero {
    height:100%;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
  }

  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    gap: 24px;
  }

  .list-advantages .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* Our team */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
  }
  .team-list .item {
    flex-basis: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  /* Customers */

  .customer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    padding: 16px 32px;
  }

  .customers-list {
    display: flex;
    gap: 72px 24px;
  }

  .footer-logo-text {
    margin-right: 24px;
    text-align: left;
  }

  .footer-title{
  text-align: left;
  }

  .position-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
  }

  .footer-social-media{
    margin-bottom: 0;
  }

  .subscribe-input {
    min-width: 264px;
    border-radius: 4px;
    margin-right: 24px;
    margin-bottom: 0;
    padding: 8px 16px;
    outline: none;
    background-color: transparent;
    color: var(--primary-white-color);
    border: 1px solid var(--primary-white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .subscribe-container {
    align-items: flex-start;
    width: 100%;
  }

  .subscribe-form {
    flex-direction: row;
    margin-bottom: 0;
    width: 0;
  }



  /* Modal */

  .modal {
    top: 50%;
    left: 50%;
    width: 90%;
    height:80%;
    /* min-height: 584px; */
    padding: 72px 24px;
    border-radius: 4px;
  }

  .terms-link {
    display: block;
    text-decoration: underline;
    color: var(--iris);
  }

  .mob-menu.is-open {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mob-menu.is-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

 .mob-menu.js-menu-container {
  display: none;
 }

  /* Portfolio */

  .buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 72px;
    gap:24px;
  }

  .portfolio-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  
.portfolio-item {
  width: calc((100% - 24px) / 2);
}

}

@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero@tablet1x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero@tablet2x.jpg");
    }
  }
}
